node_modules
# Keep environment variables out of version control
.env

/generated/prisma

/firebase/jasaku-app-251a8-firebase-adminsdk-fbsvc-4c381e3f6a.json
# Firebase Admin SDK Credentials
jasaku-backend/src/config/firebase/*.json